@font-face {
  font-family: rubik;
  src: url(./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: pacifico;
  src: url(./assets/fonts/Pacifico/Pacifico-Regular.ttf);
}

:root {
  --primary-color: #3C2317;
  --secondary-color: #628E90;
  --tertiary-color: #B4CDE6;
  --quaternary-color: #F5EFE6;
  --quinary-color: #040303;
}

* {
  box-sizing: border-box;
}

.blk-let {
  font-family: rubik;
  font-size: 50px;
  padding-top: 45px;
  color: var(--quinary-color);
  text-shadow: 0 0 8px var(--secondary-color);
}

.csv-let {
  font-family: pacifico;
  font-size: 80px;
  margin: 5px;
  color: var(--quinary-color);
  text-shadow: 0 0 8px var(--secondary-color);
}

#html,
#body,
#map-container {
  height: 100%;
}

#map {
  height: 40%;
}

.leaflet-container {
  width: "vw";
  height: "vh"
}