@media screen and (max-width: 575px) {
    #cust-head {
        margin-top: 2px;
    }

    #background {
        min-height: 700px;
    }

    #input-box {
        margin-top: 2px;
    }

    #email-input {
        width: 60%;
    }

    #password-input {
        width: 45%;
    }

    #login-btn {
        text-align: center;
    }

    #btn {
        margin-left: 0px;
    }
}