@media screen and (max-width: 600px) {
    #cust-head {
        margin-top: 1px;
    }

    #input-box {
        margin-top: 2px;
        padding-left: 1px;
    }

    #email-input {
        width: 60%;
        padding-left: 5px;
    }

    #password-input {
        width: 45%;
        padding-left: 5px;
    }

    #login-btn {
        text-align: left;
    }

    #btn {
        margin-left: 0px;
    }
}

@media screen and (max-width: 498px) {
    #label {
        font-size: 15px;
        margin-right: 0px;
    }
    
    #email-input, #password-input {
        font-size: 15px;
    }

    #password-input {
        width: 58%;
    }

    #show-btn {
        display: none;
    }
}

@media screen and (max-width: 439px) {
    #label, #pw-label {
        font-size: 12px;
    }

    #email-input, #password-input {
        height: 30px;
        margin-left: 5px;
        width: 67%;
        font-size: 12px;
    }

    #show-btn {
        display: none;
    }

}
