.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

.bm-burger-bars {
    background: black;
}

.bm-burger-bars:hover {
    background: white;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: gray;
}

.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

.bm-menu {
    background: black;
    opacity: 75%;
}

.bm-morph-shape {
    fill: black;
}

.bm-item-list {
    color: red;
    padding: 10px;
    font-weight: bold;
}

.bm-item {
    display: inline-block;
    padding: 2px;
}

.bm-item:hover {
    color: white;
}

.bm-overlay {
    background: white;
}