@font-face {
    font-family: rubik;
    src: url(../../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf);
  }

.facts {
    position: absolute;
    top: 20%;
    left: 14%;
    width: 75%;
    background-color: rgba(246, 246, 246, 0.6);
    border-radius: 8px;
}

p {
    padding: 5px;
    font-size: 24px;
    font-family: 'rubik';
    font-weight: bold;
}

@media screen and (max-width: 575px) {
    .facts {
        font-size: 16px;
    }
  
}